@import '../../assets/css/mixins.scss';

.register {
    padding: 60px 0;
}

.register form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
}

.register__formGroup {
    @include formGroup;

    & > label {
        @include formLabel;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    & button {
        @include button;
    
        margin: auto;
    }

    & > input {
        @include textInput;
    }
}

.register__radioButtons {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
    gap: 20px;
}

.register__radioGroup {
    display: flex;
    align-items: center;

    & label,
    & input {
        cursor: pointer;
    }

    & label {
        font-size: 14px;
    }
}
