.register form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.register__formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.register__formGroup:not(:last-child) {
    margin-bottom: 15px;
}

.register__formGroup label {
    text-align: left;
    margin-bottom: 6px;
}