@import 'assets/css/mixins.scss';

.home {
    min-height: 500px;
    height: calc(100vh - 270px);
    background: linear-gradient(90deg, rgba(10, 9, 12, .85), rgba(7, 57, 60, .85),), url('./img/BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--antiflash-white);
    padding: 60px 0;

    display: flex;
    align-items: center;
}

.home__slider {
    height: 100%;
}

.home h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.home button {
    @include button;
}

.home__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}