@keyframes slide-bottom {
    0% {
        transform: translateY(-20px);
        opacity: .25;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-20px);
        opacity: .25;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(20px);
        opacity: .25;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}