:root {
    --grey-light: #EAEAEA;
    --grey-dark: #B2B2B2;

    --blue-light: #00ABB3;
    --blue-dark: #3C4048;

    /* CSS HEX */
    --night: #0a090c;
    --antiflash-white: #f0edee;
    --midnight-green: #07393c;
    --caribbean-current: #2c666e;
    --non-photo-blue: #90ddf0;
}
