.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: var(--antiflash-white);
    min-height: 40px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__logo {
    width: 100%;
    max-width: 85px;
}

.navbar h1 {
    margin: 0;
}

.navbar__links {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 12px;
    gap: 20px;
    list-style-type: none;
}

.navbar__links p {
    margin: 0;
}

.navbar__links a {
    text-decoration: none;
    color: var(--night);
    transition: all .1s ease-in-out;
    opacity: .75;
}

.navbar__links li a:hover {
    text-decoration: underline;
}

a.navbar__linkActive {
    opacity: 1;
    font-weight: 600;
}

.navbar__links li a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.navbar__links > li:not(:last-child) {
    margin-right: 10px;
}

.navbar__listItemIcon {
    width: 20px;
    height: 20px;
}