.newsItemDetails {
    max-width: 900px;
    margin: auto;
}

.newsItemDetails img {
    max-width: 300px;
}

.newsItemDetails h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
}

.newsItemDetails__content {
    text-align: left;
    font-size: 14px;
}